@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrowBack:before {
  content: "\e900";
}

._icon-arrowNext:before {
  content: "\e901";
}

._icon-arrowFooter:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #177165;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #A4D6CF;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
}

.title::before {
  content: "";
  width: 2.5rem;
  height: 0.0625rem;
  background-color: #A4D6CF;
}

.title_main::before {
  content: "";
  width: 1.5625rem;
}

.title_about {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #777777;
}

.title_about::before {
  background-color: #777777;
}

.title_services {
  font-size: 1.0625rem;
  color: #777777;
}

.title_services::before {
  background-color: #777777;
}

.title_item-services {
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  color: #777777;
}

.title_item-services::before {
  background-color: #777777;
}

.title_team {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #777777;
}

.title_team::before {
  background-color: #777777;
}

.title_item-team {
  font-size: 1rem;
  line-height: 1.7333333333;
  color: #777777;
}

.title_item-team::before {
  background-color: #777777;
}

.title_info-advantages {
  font-size: 1.0625rem;
  color: #777777;
}

.title_info-advantages::before {
  background-color: #777777;
}

.title_clients {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #777777;
}

.title_feedback-clients {
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  color: #777777;
}

.title_news {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #777777;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 13.25rem;
  height: 2.75rem;
  background-color: #fff;
  border: 2px solid #177165;
  gap: 10px;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.button::after {
  content: "+";
}

.button:hover {
  border: 2px solid #fff;
  background-color: #177165;
  color: #fff;
}

.button_main {
  border: 2px solid #fff;
  background-color: #fff;
}

.button_main:hover {
  border: 2px solid #fff;
  background-color: #177165;
  color: #fff;
}

.button_services {
  background-color: #E1F4F2;
}

.block-title__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.block-title__big-title {
  font-family: Playfair Display;
  line-height: 1.2;
  color: #177165;
  max-width: 62.3125rem;
}

@supports (font-size: clamp( 2.25rem , 1.9676470588rem  +  1.4117647059vw , 3rem )) {
  .block-title__big-title {
    font-size: clamp( 2.25rem , 1.9676470588rem  +  1.4117647059vw , 3rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.9676470588rem  +  1.4117647059vw , 3rem )) {
  .block-title__big-title {
    font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 53.125);
  }
}

.block-title__big-title_services {
  max-width: 64.9375rem;
}

.block-title__big-title_call-to-action {
  color: #fff;
}

.block-title__big-title_team {
  max-width: 39.625rem;
}

.block-title__big-title_intro {
  max-width: 32.3125rem;
  font-weight: 700;
  color: #fff;
}

.block-title__big-title_clients {
  max-width: 61.5rem;
}

.block-title__big-title_news {
  max-width: 68.875rem;
}

.call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  min-width: 11.375rem;
}

.call-us_call-to-action {
  padding: 1.25rem 8.3125rem;
  background-color: #23786D;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  min-width: 29.375rem;
}

.call-us_footer {
  gap: 1.875rem;
}

.call-us__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  height: 2.75rem;
}

.call-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
}

.call-us__title_call-to-action {
  color: #A4D6CF;
}

.call-us__phone-link {
  white-space: nowrap;
  color: #fff;
}

.header {
  color: #A4D6CF;
  z-index: 50;
  background-color: #177165;
}

.header__container {
  max-width: 77.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__logo-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 162px;
          flex: 0 0 162px;
  height: 3.0625rem;
}

.header__logo {
  position: relative;
  display: inline-block;
  width: 10.125rem;
  height: 100%;
  overflow: hidden;
  z-index: 5;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__call-us {
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__link {
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  -webkit-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  transition: color 0.6s ease 0s;
}

.menu__link:hover {
  color: #fff;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #177165;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .footer__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .footer__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .footer__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .footer__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (gap: clamp( 2.5rem , -4.0008126016rem  +  32.5040630079vw , 5.75rem )) {
  .footer__container {
    gap: clamp( 2.5rem , -4.0008126016rem  +  32.5040630079vw , 5.75rem );
  }
}

@supports not (gap: clamp( 2.5rem , -4.0008126016rem  +  32.5040630079vw , 5.75rem )) {
  .footer__container {
    gap: calc(2.5rem + 3.25 * (100vw - 20rem) / 9.99875);
  }
}

@supports (padding-top: clamp( 0.0000000625rem , -23.6822543921rem  +  38.1979547242vw , 4.25rem )) {
  .footer__body {
    padding-top: clamp( 0.0000000625rem , -23.6822543921rem  +  38.1979547242vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -23.6822543921rem  +  38.1979547242vw , 4.25rem )) {
  .footer__body {
    padding-top: calc(0.0000000625rem + 4.2499999375 * (100vw - 61.99875rem) / 11.12625);
  }
}

.footer__info {
  background-color: #23786D;
}

@supports (padding-top: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem )) {
  .footer__info {
    padding-top: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem )) {
  .footer__info {
    padding-top: calc(2.5rem + 1.875 * (100vw - 61.99875rem) / 11.12625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , -14.9134226491rem  +  28.0867318279vw , 5.625rem )) {
  .footer__info {
    padding-bottom: clamp( 2.5rem , -14.9134226491rem  +  28.0867318279vw , 5.625rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , -14.9134226491rem  +  28.0867318279vw , 5.625rem )) {
  .footer__info {
    padding-bottom: calc(2.5rem + 3.125 * (100vw - 61.99875rem) / 11.12625);
  }
}

@supports (padding-left: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem )) {
  .footer__info {
    padding-left: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , -7.9480535895rem  +  16.8520390967vw , 4.375rem )) {
  .footer__info {
    padding-left: calc(2.5rem + 1.875 * (100vw - 61.99875rem) / 11.12625);
  }
}

@supports (padding-right: clamp( 2.5rem , -39.9887512639rem  +  68.53162566vw , 10.125rem )) {
  .footer__info {
    padding-right: clamp( 2.5rem , -39.9887512639rem  +  68.53162566vw , 10.125rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , -39.9887512639rem  +  68.53162566vw , 10.125rem )) {
  .footer__info {
    padding-right: calc(2.5rem + 7.625 * (100vw - 61.99875rem) / 11.12625);
  }
}

.footer__logo {
  position: relative;
  display: inline-block;
  width: 10.125rem;
  height: 3.0625rem;
  overflow: hidden;
  z-index: 5;
}

.footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (margin-bottom: clamp( 1.875rem , -5.3759063633rem  +  36.2545318165vw , 5.5rem )) {
  .footer__logo:not(:last-child) {
    margin-bottom: clamp( 1.875rem , -5.3759063633rem  +  36.2545318165vw , 5.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -5.3759063633rem  +  36.2545318165vw , 5.5rem )) {
  .footer__logo:not(:last-child) {
    margin-bottom: calc(1.875rem + 3.625 * (100vw - 20rem) / 9.99875);
  }
}

.footer__text {
  font-size: 1rem;
  line-height: 1.625;
}

.footer__text:not(:last-child) {
  margin-bottom: 2rem;
}

.spollers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4.6875rem;
}

.spollers__item:nth-child(2) {
  margin-right: 2.75rem;
}

.spollers__title {
  font-family: Playfair Display;
  font-size: 1.875rem;
  line-height: 1.1;
}

.spollers__title:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.spollers__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  font-size: 0.5625rem;
}

.spollers__link {
  font-size: 0.9375rem;
  line-height: 3.4666666667;
  white-space: nowrap;
}

.main {
  background-color: #177165;
}

.main__container {
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .main__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .main__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .main__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .main__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

.main__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__content {
  max-width: 28.4375rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem )) {
  .main__content:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1926470588rem  +  3.4117647059vw , 3.6875rem )) {
  .main__content:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.8125 * (100vw - 20rem) / 53.125);
  }
}

.main__title:not(:last-child) {
  margin-bottom: 1.125rem;
}

.main__info {
  font-family: Playfair Display;
  line-height: 1.3;
  color: #fff;
}

@supports (font-size: clamp( 3rem , 2.7176470588rem  +  1.4117647059vw , 3.75rem )) {
  .main__info {
    font-size: clamp( 3rem , 2.7176470588rem  +  1.4117647059vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 3rem , 2.7176470588rem  +  1.4117647059vw , 3.75rem )) {
  .main__info {
    font-size: calc(3rem + 0.75 * (100vw - 20rem) / 53.125);
  }
}

.main__info:not(:last-child) {
  margin-bottom: 1rem;
}

.main__image-ibg {
  width: 34.375rem;
  padding-bottom: 72.138%;
  position: absolute;
  top: 58px;
  right: 0;
}

.about__container {
  padding-top: 13.4375rem;
  padding-bottom: 6.25rem;
}

.about__title-block:not(:last-child) {
  margin-bottom: 3.25rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 112px;
}

@supports (gap: clamp( 3.125rem , -4.2774240088rem  +  15.4221183026vw , 7rem )) {
  .about__content {
    gap: clamp( 3.125rem , -4.2774240088rem  +  15.4221183026vw , 7rem );
  }
}

@supports not (gap: clamp( 3.125rem , -4.2774240088rem  +  15.4221183026vw , 7rem )) {
  .about__content {
    gap: calc(3.125rem + 3.875 * (100vw - 47.99875rem) / 25.12625);
  }
}

.about__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.86%;
          flex: 0 0 48.86%;
  padding-bottom: 76.93%;
}

@supports (margin-bottom: clamp( 2.5rem , 0.0891780883rem  +  12.0541095585vw , 5.875rem )) {
  .about__article:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 0.0891780883rem  +  12.0541095585vw , 5.875rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.0891780883rem  +  12.0541095585vw , 5.875rem )) {
  .about__article:not(:last-child) {
    margin-bottom: calc(2.5rem + 3.375 * (100vw - 20rem) / 27.99875);
  }
}

.about__text-block {
  padding-left: 0.5rem;
}

.block-text:not(:last-child) {
  margin-bottom: 2.25rem;
}

.block-text__title {
  font-family: Playfair Display;
  line-height: 1.09375;
}

@supports (font-size: clamp( 1.75rem , 1.6558823529rem  +  0.4705882353vw , 2rem )) {
  .block-text__title {
    font-size: clamp( 1.75rem , 1.6558823529rem  +  0.4705882353vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.6558823529rem  +  0.4705882353vw , 2rem )) {
  .block-text__title {
    font-size: calc(1.75rem + 0.25 * (100vw - 20rem) / 53.125);
  }
}

.block-text__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.block-text__text {
  font-size: 1rem;
  line-height: 1.625;
  color: #777777;
}

.block-text__text:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.block-text__quote {
  font-family: Playfair Display;
  font-size: 1.375rem;
  line-height: 1.3636363636;
}

.services {
  background-color: #E1F4F2;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .services__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .services__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.7823529412rem  +  8.5882352941vw , 7.0625rem )) {
  .services__container {
    padding-bottom: clamp( 2.5rem , 0.7823529412rem  +  8.5882352941vw , 7.0625rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.7823529412rem  +  8.5882352941vw , 7.0625rem )) {
  .services__container {
    padding-bottom: calc(2.5rem + 4.5625 * (100vw - 20rem) / 53.125);
  }
}

.services__title-block:not(:last-child) {
  margin-bottom: 3.25rem;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 2.1875rem , 1.0336538462rem  +  5.7692307692vw , 3.125rem )) {
  .services__items {
    gap: clamp( 2.1875rem , 1.0336538462rem  +  5.7692307692vw , 3.125rem );
  }
}

@supports not (gap: clamp( 2.1875rem , 1.0336538462rem  +  5.7692307692vw , 3.125rem )) {
  .services__items {
    gap: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 16.25);
  }
}

@supports (margin-bottom: clamp( 2.8125rem , 0.6586538462rem  +  10.7692307692vw , 4.5625rem )) {
  .services__items:not(:last-child) {
    margin-bottom: clamp( 2.8125rem , 0.6586538462rem  +  10.7692307692vw , 4.5625rem );
  }
}

@supports not (margin-bottom: clamp( 2.8125rem , 0.6586538462rem  +  10.7692307692vw , 4.5625rem )) {
  .services__items:not(:last-child) {
    margin-bottom: calc(2.8125rem + 1.75 * (100vw - 20rem) / 16.25);
  }
}

.services__button {
  margin: 0 auto;
}

.item-services {
  display: block;
}

.item-services__image-ibg {
  display: inline-block;
  width: 15.5rem;
  height: 15.5rem;
}

@supports (margin-bottom: clamp( 0.9375rem , -0.1605392157rem  +  5.4901960784vw , 1.8125rem )) {
  .item-services__image-ibg:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , -0.1605392157rem  +  5.4901960784vw , 1.8125rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.1605392157rem  +  5.4901960784vw , 1.8125rem )) {
  .item-services__image-ibg:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.875 * (100vw - 20rem) / 15.9375);
  }
}

.item-services__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-services__subtitle {
  font-family: Playfair Display;
  font-size: 1.375rem;
  line-height: 1.6363636364;
}

.call-to-action {
  background-color: #177165;
}

.call-to-action__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.3125rem;
}

@supports (padding-top: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
  .call-to-action__container {
    padding-top: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
  .call-to-action__container {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
  .call-to-action__container {
    padding-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6985294118rem  +  5.8823529412vw , 5rem )) {
  .call-to-action__container {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 53.125);
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .team__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .team__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .team__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .team__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

.team__title-block {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.team__title-block:not(:last-child) {
  margin-bottom: 3.25rem;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
}

.item-team__image-ibg {
  display: inline-block;
  width: 21.6875rem;
  height: 33rem;
}

.item-team__image-ibg:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.item-team__image-ibg_1 {
  position: relative;
}

.item-team__image-ibg_1::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 53.0625rem;
  bottom: -14px;
  right: 0;
  background-color: rgba(225, 244, 242, 0.8);
}

.item-team__body {
  max-width: 18.125rem;
}

.item-team__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-team__subtitle {
  display: inline-block;
  font-family: Playfair Display;
  font-size: 1.625rem;
  line-height: 1.6153846154;
  color: #177165;
}

.item-team__subtitle:not(:last-child) {
  margin-bottom: 1.125rem;
}

.item-team__text {
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  color: #777777;
}

.intro {
  background-color: #177165;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.3125rem;
}

.intro__video {
  position: relative;
  width: 35.625rem;
  padding-bottom: 36.405%;
}

.intro__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__info {
    margin-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .advantages__info {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

.info-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-advantages__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4.0625rem;
  background-color: #E1F4F2;
}

.info-advantages__column:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.4375rem;
  top: 45%;
  left: 0;
  background-color: #177165;
}

.info-advantages__value {
  font-size: 2.8125rem;
  line-height: 1.6222222222;
}

.slider-advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-advantages__wrapper:not(:last-child) {
  margin-bottom: 2.5rem;
}

.slider-advantages__slide {
  position: relative;
}

.slider-advantages__image-ibg {
  display: block;
  width: 100%;
  padding-bottom: 46.492%;
}

.slider-advantages__info-block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  bottom: 0;
  left: 0;
  background-color: #177165;
}

@supports (padding-top: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem )) {
  .slider-advantages__info-block {
    padding-top: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -1.7068180688rem  +  7.4623153077vw , 3.75rem )) {
  .slider-advantages__info-block {
    padding-top: calc(1.875rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-bottom: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-bottom: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
  }
}

@supports (padding-left: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-left: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-left: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
  }
}

@supports (padding-right: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-right: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , -2.3318180688rem  +  7.4623153077vw , 3.125rem )) {
  .slider-advantages__info-block {
    padding-right: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / 25.12625);
  }
}

.slider-advantages__title {
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  color: #A4D6CF;
}

.slider-advantages__subtitle {
  font-family: Playfair Display;
  line-height: 1.6363636364;
  color: #fff;
}

@supports (font-size: clamp( 1.25rem , 1.0416753472rem  +  0.6944444444vw , 1.375rem )) {
  .slider-advantages__subtitle {
    font-size: clamp( 1.25rem , 1.0416753472rem  +  0.6944444444vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0416753472rem  +  0.6944444444vw , 1.375rem )) {
  .slider-advantages__subtitle {
    font-size: calc(1.25rem + 0.125 * (100vw - 29.99875rem) / 18);
  }
}

.slider-advantages__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.125rem;
}

.swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  font-size: 1.375rem;
  border: 2px solid #A4D6CF;
}

.swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.375rem;
  height: 4.375rem;
  font-size: 1.375rem;
  border: 2px solid #A4D6CF;
}

.clients {
  background-color: #E1F4F2;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .clients__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .clients__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .clients__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .clients__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

.clients__title-block:not(:last-child) {
  margin-bottom: 3.3125rem;
}

.feedback-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

@supports (gap: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
  .feedback-clients {
    gap: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.1691176471rem  +  3.5294117647vw , 3.75rem )) {
  .feedback-clients {
    gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.125);
  }
}

.feedback-clients__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: #fff;
}

@supports (padding-top: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .feedback-clients__column {
    padding-top: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .feedback-clients__column {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.0036764706rem  +  4.7058823529vw , 3.4375rem )) {
  .feedback-clients__column {
    padding-bottom: clamp( 0.9375rem , -0.0036764706rem  +  4.7058823529vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.0036764706rem  +  4.7058823529vw , 3.4375rem )) {
  .feedback-clients__column {
    padding-bottom: calc(0.9375rem + 2.5 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-left: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .feedback-clients__column {
    padding-left: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 0.3088235294rem  +  4.7058823529vw , 3.75rem )) {
  .feedback-clients__column {
    padding-left: calc(1.25rem + 2.5 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-right: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
  .feedback-clients__column {
    padding-right: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 0.9338235294rem  +  4.7058823529vw , 4.375rem )) {
  .feedback-clients__column {
    padding-right: calc(1.875rem + 2.5 * (100vw - 20rem) / 53.125);
  }
}

.feedback-clients__quote {
  font-size: 1.375rem;
  line-height: 1.3636363636;
}

@supports (margin-bottom: clamp( 1.25rem , 0.0735294118rem  +  5.8823529412vw , 4.375rem )) {
  .feedback-clients__quote:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.0735294118rem  +  5.8823529412vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.0735294118rem  +  5.8823529412vw , 4.375rem )) {
  .feedback-clients__quote:not(:last-child) {
    margin-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 53.125);
  }
}

.feedback-clients__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .news__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .news__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .news__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .news__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

.news__title-block:not(:last-child) {
  margin-bottom: 3.25rem;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.875rem;
}

.news-block {
  background-color: #E1F4F2;
  max-width: 34.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-block__image-ibg {
  display: inline-block;
  width: 100%;
  padding-bottom: 63.065%;
}

.news-block__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-top: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .news-block__body {
    padding-top: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .news-block__body {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

@supports (padding-left: clamp( 0.625rem , -0.0446727532rem  +  3.3483637662vw , 1.5625rem )) {
  .news-block__body {
    padding-left: clamp( 0.625rem , -0.0446727532rem  +  3.3483637662vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.0446727532rem  +  3.3483637662vw , 1.5625rem )) {
  .news-block__body {
    padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

@supports (padding-right: clamp( 0.9375rem , -12.7928025969rem  +  28.6055420128vw , 8.125rem )) {
  .news-block__body {
    padding-right: clamp( 0.9375rem , -12.7928025969rem  +  28.6055420128vw , 8.125rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -12.7928025969rem  +  28.6055420128vw , 8.125rem )) {
  .news-block__body {
    padding-right: calc(0.9375rem + 7.1875 * (100vw - 47.99875rem) / 25.12625);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .news-block__body {
    padding-bottom: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .news-block__body {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

.news-block__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 0.3125rem;
}

@supports (margin-bottom: clamp( 2.1875rem , 1.9522058824rem  +  1.1764705882vw , 2.8125rem )) {
  .news-block__content:not(:last-child) {
    margin-bottom: clamp( 2.1875rem , 1.9522058824rem  +  1.1764705882vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.9522058824rem  +  1.1764705882vw , 2.8125rem )) {
  .news-block__content:not(:last-child) {
    margin-bottom: calc(2.1875rem + 0.625 * (100vw - 20rem) / 53.125);
  }
}

.news-block__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-bottom: clamp( 0.8125rem , 0.5772058824rem  +  1.1764705882vw , 1.4375rem )) {
  .news-block__info:not(:last-child) {
    margin-bottom: clamp( 0.8125rem , 0.5772058824rem  +  1.1764705882vw , 1.4375rem );
  }
}

@supports not (margin-bottom: clamp( 0.8125rem , 0.5772058824rem  +  1.1764705882vw , 1.4375rem )) {
  .news-block__info:not(:last-child) {
    margin-bottom: calc(0.8125rem + 0.625 * (100vw - 20rem) / 53.125);
  }
}

.news-block__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  white-space: nowrap;
}

.news-block__by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  white-space: nowrap;
}

.news-block__info-title {
  font-size: 1rem;
  line-height: 1.625;
}

.news-block__info-text {
  font-size: 0.9375rem;
  line-height: 1.7333333333;
  color: #777777;
}

.news-block__title {
  font-family: Playfair Display;
  font-size: 1.5625rem;
  line-height: 1.6;
}

@supports (margin-bottom: clamp( 0.5rem , 0.2647058824rem  +  1.1764705882vw , 1.125rem )) {
  .news-block__title:not(:last-child) {
    margin-bottom: clamp( 0.5rem , 0.2647058824rem  +  1.1764705882vw , 1.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.2647058824rem  +  1.1764705882vw , 1.125rem )) {
  .news-block__title:not(:last-child) {
    margin-bottom: calc(0.5rem + 0.625 * (100vw - 20rem) / 53.125);
  }
}

.news-block__text {
  font-size: 1rem;
  line-height: 1.625;
  color: #777777;
}

.natural {
  background-color: #E1F4F2;
}

.natural__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .natural__container {
    padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .natural__container {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .natural__container {
    padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
  .natural__container {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
  }
}

@supports (gap: clamp( 2.5rem , 0.7352941176rem  +  8.8235294118vw , 7.1875rem )) {
  .natural__container {
    gap: clamp( 2.5rem , 0.7352941176rem  +  8.8235294118vw , 7.1875rem );
  }
}

@supports not (gap: clamp( 2.5rem , 0.7352941176rem  +  8.8235294118vw , 7.1875rem )) {
  .natural__container {
    gap: calc(2.5rem + 4.6875 * (100vw - 20rem) / 53.125);
  }
}

.natural__image-ibg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.75rem;
          flex: 0 0 8.75rem;
  height: 7.5rem;
}

.natural__image-ibg img {
  -o-object-fit: none;
     object-fit: none;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 73.125em) {
  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }

  .main__image-ibg {
    position: relative;
    top: -42px;
    right: auto;
    width: 48.246%;
    padding-bottom: 74.036%;
  }

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .about__container {
      padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .about__container {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .about__container {
      padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .about__container {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-team__image-ibg_1::before {
    content: "";
    display: none;
  }

  .info-advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-advantages__column:last-child::after {
    top: 0;
    left: 50%;
  }

  .natural__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 66.875em) {
  .about__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spollers {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .spollers__item:nth-child(2) {
    margin-right: 0;
  }

  .call-to-action__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

@supports (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .intro__container {
      padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .intro__container {
      padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .intro__container {
      padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.0882352941rem  +  7.0588235294vw , 6.25rem )) {
    .intro__container {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 53.125);
    }
}

  .intro__video {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    padding-bottom: 72.8%;
  }
}

@media (max-width: 56.875em) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

@supports (gap: clamp( 4.375rem , 2.6800847458rem  +  8.4745762712vw , 7.5rem )) {
    .main__container {
      gap: clamp( 4.375rem , 2.6800847458rem  +  8.4745762712vw , 7.5rem );
    }
}

@supports not (gap: clamp( 4.375rem , 2.6800847458rem  +  8.4745762712vw , 7.5rem )) {
    .main__container {
      gap: calc(4.375rem + 3.125 * (100vw - 20rem) / 36.875);
    }
}

  .main__content {
    max-width: 40.9375rem;
  }

  .main__image-ibg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 34.375rem;
    height: 52.75rem;
    padding-bottom: 0;
    top: auto;
  }
}

@media (max-width: 54.5em) {
  .info-advantages__column:nth-child(3)::after {
    top: 0;
    left: 50%;
  }
}

@media (max-width: 47.99875em) {
  .call-us {
    min-width: 2.75rem;
  }

  .call-us_call-to-action {
    min-width: 29.375rem;
  }

  .call-us_footer {
    min-width: 29.375rem;
  }

  .call-us__content {
    display: none;
  }

  .call-us__content_call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .call-us__content_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1.5625rem;
  }

  .header__logo-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    gap: 40px;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #177165;
    padding-top: 9.375rem;
    -webkit-transition: top 0.6s ease 0s;
    -o-transition: top 0.6s ease 0s;
    transition: top 0.6s ease 0s;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 6.6875rem;
    background-color: #177165;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 2.8125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__image-ibg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 76.722%;
    padding-bottom: 118.3%;
  }

  .slider-advantages__info-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .feedback-clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 37.5rem;
  }

  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news-block {
    max-width: 100%;
  }
}

@media (max-width: 36.25em) {
  .main__image-ibg {
    width: 100%;
    height: auto;
    padding-bottom: 153.455%;
  }
}

@media (max-width: 36.375em) {
  .info-advantages__column:nth-child(2)::after {
    top: 0;
    left: 50%;
  }
}

@media (max-width: 35.9375em) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .item-services__image-ibg {
    width: 100%;
    height: auto;
    padding-bottom: 100%;
  }
}

@media (max-width: 31.25em) {
  .call-us_call-to-action {
    min-width: 100%;
    padding: 0.625rem 0;
  }
}

@media (max-width: 29.99875em) {
  .spollers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.1875rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .spollers__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .about__image-ibg {
    width: 100%;
    padding-bottom: 155%;
  }

  .item-team {
    width: 100%;
  }

  .item-team__image-ibg {
    width: 100%;
    height: auto;
    padding-bottom: 152.16%;
  }

  .slider-advantages__info-block {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    top: auto;
    left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 24.0625em) {
  .news-block__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}